.titulo-principal{
    padding-left: 30px;
}

.titulo-centralizado{
    text-align: center;
}

body{
    /*background: lightgray;*/
}

#banner{
    width: 100%;
}

.principal{
    background: lightgray;
    padding: 20px;
}

em strong{
    color: brown;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgDiferenciales{
    width: 50%;
}